@import "./assets/scripts/generic";
@import "./assets/scripts/responsive";

// tablet => min-width : 576px
// desktop => min-width : 992px

body {
  background: var(--veryDarkBlue);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.container {
  width: 100%;
  padding: 5rem 2rem 2rem 2rem;
  max-width: 125rem;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
section {
  width: 100%;
}
.profile {
  position: relative;
  height: 22rem;
  @include desktop {
    width: 24%;
  }
  div {
    border-radius: 1.2rem;
    height: 15rem;
    width: 100%;
  }
  div:first-of-type {
    background-color: var(--blue);
    position: absolute;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    @include desktop {
      height: 28rem;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 3rem 0 0 3rem;
    }
    .profileContainer {
      width: 8rem;
      height: 8rem;
      border: white solid 0.3rem;
      border-radius: 50%;
      margin-right: 2rem;
      @include desktop {
        margin-bottom: 3rem;
      }
      img {
        width: 100%;
      }
    }
    h1 {
      color: white;
      font-weight: 300;
      font-size: 1.5rem;
      line-height: 180%;
      span {
        font-weight: 400;
        font-size: 2.2rem;
        @include desktop {
          font-size: 4rem;
          line-height: 120%;
        }
      }
    }
  }
  div:nth-of-type(2) {
    background-color: var(--darkBlue);
    position: absolute;
    top: 7rem;
    left: 0;
    padding-top: 10.5rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    @include desktop {
      top: 26rem;
      padding-top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    ul {
      width: 100%;
      display: inline-flex;
      flex-wrap: nowrap;
      flex-direction: row;
      justify-content: space-around;
      @include desktop {
        display: block;
        text-align: left;
        padding-left: 2rem;
        padding-top: 1.5rem;
      }
      li {
        @include desktop {
          padding: 0.8rem 0;
        }
      }
      a {
        color: var(--paleBlue);
        &:hover {
          color: white;
          font-weight: 400;
        }
      }
    }
  }
}
.sub-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @include desktop {
    width: 74.5%;
  }
}
.card {
  position: relative;
  height: 19.5rem;
  margin-top: 2rem;
  @include tablet {
    width: 49%;
  }
  @include desktop {
    width: 32%;
  }
  div {
    border-radius: 1.2rem;
    height: 15rem;
    width: 100%;
  }
  div:first-of-type {
    text-align: right;
    padding-right: 1.5rem;
  }
  div:nth-of-type(2) {
    background-color: var(--darkBlue);
    position: absolute;
    top: 4.5rem;
    left: 0;
    &:hover {
      background-color: var(--darkBlueHover);
      cursor: pointer;
    }
  }
  &-work {
    div:first-of-type {
      background-color: var(--orange);
    }
    @include desktop {
      margin-top: 0;
    }
  }
  &-play {
    div:first-of-type {
      background-color: var(--softBlue);
    }
    @include desktop {
      margin-top: 0;
    }
  }
  &-study {
    div:first-of-type {
      background-color: var(--lightRed);
    }
    @include desktop {
      margin-top: 0;
    }
  }
  &-exercise {
    div:first-of-type {
      background-color: var(--limeGreen);
    }
  }
  &-social {
    div:first-of-type {
      background-color: var(--violet);
    }
  }
  &-selfcare {
    div:first-of-type {
      background-color: var(--yellow);
    }
  }
  &-content {
    padding: 3rem;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    h2,
    p {
      width: 50%;
    }
    h2 {
      font-weight: 400;
      font-size: 2rem;
    }
    .more {
      text-align: right;
      svg {
        fill: var(--desaturatedBlue);
        &:hover {
          fill: white;
          cursor: pointer;
        }
      }
    }
    .hours {
      font-size: 4rem;
      font-weight: 300;
    }
    .lastWeek {
      font-size: 1.6rem;
      color: var(--desaturatedBlue);
      padding-left: 1rem;
    }
  }
}
.attribution {
  padding: 2rem;
  max-width: 80rem;
  margin: auto;
  color: var(--desaturatedBlue);
  font-size: 1rem;
  text-align: center;
  a {
    color: white;
    font-weight: 300;
    &:hover {
      font-weight: 400;
    }
  }
}
